GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Central Cloud PostgreSQL Database (Neon.tech)
DATABASE_URL=postgresql://neondb_owner:npg_GTWSRKsi3rL0@ep-curly-fog-ay9gllg9-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require

# SMTP REAL EMAIL CONFIGURATION
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jayasimha.k2006@gmail.com
SMTP_PASSWORD=uqai pqcc tzkm efvg
SMTP_FROM_EMAIL=jayasimha.k2006@gmail.com
